:root {
  --primary-action: #C62032;
  --secondary-action: #8A8A8A;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  /*align-items: top;*/
  width: 100%;
  justify-content: left;
  float: left;
  font-size: calc(10px + 2vmin);
}

main {
  padding: 32px;
}

.primary_abtn{
  position: relative;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 10px;
  color: white;
  background-color: #222222;
}

.secondary_abtn{
   position: relative;
   border: none;
   border-radius: 10px;
   width: 150px;
   height: 50px;
   margin: 10px;
   color: white;
   background-color: #222222;
 }

.btn-danger{
  position: relative;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 10px;
}
