.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  align-items: center;
  justify-content: left;
  float: left;
  font-size: calc(10px + 2vmin);
}