option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /api/*: "headers"
files:
  "/etc/httpd/conf.d/cors.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Header set Access-Control-Allow-Origin "*"
      Header set Access-Control-Allow-Headers "Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token"
      Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
