option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /api:
      "Content-Type": "text/plain"
      "Access-Control-Allow-Origin": "*"
      "Access-Control-Allow-Methods": "GET, HEAD, POST"
      "Access-Control-Allow-Headers": "Origin, X-Requested-With, Content-Type, Accept"
