@font-face {
    font-family: Roboto;
    src: url('../../src/shared/fonts/Roboto-Regular.ttf');
}

.NavBarButton {
	height: 58px;
	width: 100%;
	padding: 25px;
    margin-top: 4px;
    font-family: Roboto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
    border: none;
	background-color: White;
    border-radius: 5px;
}

.NavBarButton:hover {
	background-color: #D5D5D5;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 2px 4px darkslategray;
}

.NavBarButtonActive {
	height: 58px;
	width: 275px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    box-shadow: 0 2px 4px darkslategray;
	align-items: center;
	border: none;
	color: White;
    cursor: pointer;
	background-color: #C62032;
}

.NavBarIcon {
	width: fit-content;
}

#NavBar {
	height: 100vh;
	width: 275px;
    padding: 8px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background-color: white;
}

#NavBarTop {
	margin-top: 40px;
}

#NavBarBottom {
    margin-top: auto;
}