body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	font-size: 64px;
	font-family: 'Roboto', sans-serif;
	width: fit-content;
}

h2 {
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 3px;
   margin: 3px;
}

h4 {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 3px;
  	margin: 3px;
}

text {
	font-family: 'Roboto', sans-serif;
}

.QuickStatsTallRegular {
	display: flex;
	flex-direction: column;
	width: 190px;
	height: 325px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.QuickStatsShortRegular {
	display: flex;
	flex-direction: column;
	width: 190px;
	height: 150px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.QuickStatsShortWide {
	display: flex;
	flex-direction: column;
	width: 298px;
	height: 150px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.Column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#AllQuickStats {
	align-items: center;
 	height: 368px;
	width: 1098px;
	border-radius: 35px;
 	background-color: rgba(213, 213, 213, 1);
}

#IndividualStats {
	justify-content: space-between;
	height: 325px;
	width: 610px;
}

#OrderStats {
	justify-content: space-between;
}

#InvoiceStats {
	justify-content: space-between;
}


#Dashboard {
	text-align: left;
	flex: 1 1 auto;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	padding-left: 60px;
}

#Search {
	text-align: left;
	flex: 1 1 auto;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	padding-left: 60px;
}

.search {
    width: 30%;
}

#Orders {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	padding-left: 60px;
}

#OrdersDisplay {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
}

.tabRow {
	width: 1144px;
	height: 62px;
	display: flex;
	flex-direction: row;
}

.tabRowButton {
	height: 62px;
	display: flex;
	border: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #C9C9C9;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;

}

.tabRowButton:hover {
	background-color: #D5D5D5;
}

.tabRowButtonActive {
	height: 62px;
	display: flex;
	border: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	color: White;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	background-color: #C62032;
}

#OrderDisplayColumns {
	display: flex;
	height: 70vh;
	flex-direction: row;
	justify-content: flex-start;
}

.OrderDisplayColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 381px;
	background-color: White;
	overflow-y: auto;
	list-style: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.OrderCard {
	text-align: left;
	width: 296px;
	min-height: 164px;
	border-radius: 20px;
	box-shadow: 0px 0px 15px #D5D5D5;
	overflow: hidden;
	margin-bottom: 20px;
}

.OrderCardHeader {
	width: 296px;
	height: 47px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 7px;
}

.OrderCardContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px;
}

.OrderDisplayColumnTitle {
	width: 381px;
	height: 50px;
	background-color: White;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0px 15px #D5D5D5;
	margin-bottom: 14px;
}

.OrderTitleButton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.OrderActionButton {
	background-color: #C62032;
	color: white;
	width: fit-content;
	height: fit-content;
	border-radius: 12px;
	border: none;
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.PageHeader {
	font-size: 64px;
	display: flex;
	font-family: 'Roboto', sans-serif;
	width: fit-content;
    font-weight: bold;
}

#OrderView_Header {
	display: flex;
	padding: 8px;
	flex-direction: row;
}