
.landing-page{
    /*height: 100%;*/
    /*justify-content: space-between;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-special {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

    place-self: flex-start;
    align-content: flex-start;
    background-color: white;
    position: fixed;
    bottom:0px;
}

.nav-item {
    width: 100%;
}

#NavBar {
    height: 100vh;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: left;
    place-self: flex-start;
    align-content: left;
    background-color: white;
    position: absolute;
    }
    
    #NavBarTop {
    top: 10px;
    display: flex;
    align-items: left;
    }
    
    #NavBarBottom {
      margin-bottom: 0;
    }

#branding {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 48px;

}

#branding h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 800;

}

.navbar-brand{
    text-align: center;
}

#nav-main-content {
    width: 100%;
}
/*------------------ Navbar Older---------------------*/
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
  }
  
  .NavBarButton {
  height: 58px;
  width: 100%;
  padding: 25px;
    font-family: Roboto;
  display: flex;
  size: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
    border: none;
  background-color: White;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .NavBarButton:hover {
  background-color: #D5D5D5;
    font-size: large;
    cursor: pointer;
  }
  .NavBarButton:focus{
    
  border: none;
  color: White;
    cursor: pointer;
  background-color: #C62032;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.508);

  }
  
  .NavBarButtonActive {

  border: none;
  color: White;
    cursor: pointer;
  background-color: #C62032;
  }
  
  .NavBarIcon {
  width: fit-content;
  }
  




