#SearchView{
	display: flex;
    width: max-content;
    height: 100%;
    flex-wrap: wrap;
	justify-content: center;
	background-color: White;
	padding: 24px;
}

.SearchBar {
    width: 600px;
    margin:24px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .grid-item {
    padding: 10px;
  }