body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	font-size: 64px;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 3px;
   margin: 3px;
}

h4 {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 3px;
  margin: 3px;
}

text {
	font-family: 'Roboto', sans-serif;
}

.QuickStatsTallRegular {
	display: flex;
	flex-direction: column;
	width: 190px;
	height: 325px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.QuickStatsShortRegular {
	display: flex;
	flex-direction: column;
	width: 190px;
	height: 150px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.QuickStatsShortWide {
	display: flex;
	flex-direction: column;
	width: 298px;
	height: 150px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
}

.Column{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#AllQuickStats {
	align-items: center;
 	height: 368px;
	width: 1098px;
	border-radius: 35px;
 	background-color: rgba(213, 213, 213, 1);
}

#IndividualStats {
	justify-content: space-between;
	height: 325px;
	width: 610px;
}

#OrderStats {
	justify-content: space-between;
}

#InvoiceStats {
	justify-content: space-between;
}

.NavBarButton {
	height: 58px;
	width: 207px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: none;
	background-color: White;
}

.NavBarButton:hover {
	background-color: #D5D5D5;
}

.NavBarButtonActive {
	height: 58px;
	width: 207px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: none;
	color: White;
	background-color: #C62032;
}

#NavBar {
	height: 100vh;
	width: 207px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background-color: White;
}

#NavBarTop {
	margin-top: 40px;
}

#NavBarBottom {
	margin-top: auto;
}

#Dashboard {
	text-align: left;
	flex: 1 1 auto;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	padding-left: 60px;
}

#Orders {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	padding-left: 60px;
}

#OrdersDisplay {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
}

.tabRow {
	width: 1144px;
	height: 62px;
	display: flex;
	flex-direction: row;
}

.tabRowButton {
	height: 62px;
	display: flex;
	border: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #C9C9C9;
}

.tabRowButton:hover {
	background-color: #D5D5D5;
}

.tabRowButtonActive {
	height: 62px;
	display: flex;
	border: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	color: White;
	background-color: #C62032;
}

#OrderDisplayColumns {
	display: flex;
	height: 70vh;
	flex-direction: row;
	justify-content: flex-start;
}

.OrderDisplayColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 381px;
	background-color: White;
	overflow-y: auto;
	list-style: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.OrderCard {
	text-align: left;
	width: 296px;
	min-height: 164px;
	border-radius: 20px;
	box-shadow: 0px 0px 15px #D5D5D5;
	overflow: hidden;
	margin-bottom: 20px;
}

.OrderCardHeader {
	width: 296px;
	height: 47px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 7px;
}

.OrderCardContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px;
}

.OrderDisplayColumnTitle {
	width: 381px;
	height: 50px;
	background-color: White;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0px 15px #D5D5D5;
	margin-bottom: 14px;
}

#OrderView{
	max-width: 1144px;
	max-height: 1000px;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	justify-content: center;
	background-color: White;
	padding: 10px;
}

#OrderView_Header{
	max-width: 1144px;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: White;
	padding: 10px;
	position: sticky;
	top: 0px;
}

#OrderView_General{
	width:  382px;
	height:  282px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #D5D5D5;
	padding: 10px;
	margin: 5px;
}

#OrderView_General_Details{
	width:  423px;
	height:  238px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #F3F3F3;
	padding: 10px;
	margin: 5px;
}

#OrderView_Customer{
	width:  382px;
	height:  282px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #D5D5D5;
	padding: 10px;
	margin: 5px;
}

#OrderView_Customer_Details{
	width:  423px;
	height:  213px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #F3F3F3;
	padding: 10px;
	margin: 5px;
}

#OrderView_Shipping{
	width:  683px;
	height:  227px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #D5D5D5;
	padding: 10px;
	margin: 5px;
}

#OrderView_Shipping_Details{
	width:  644px;
	height:  483px;
	border-radius: 10px;
	background-color: #F3F3F3;
	padding: 10px;
	margin: 5px;
}

#OrderView_Products{
	width:  683px;
	height:  340px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #D5D5D5;
	padding: 10px;
	margin: 5px;
}

#OrderView_Products_Details{
	width:  1099px;
	height:  258px;
	border-radius: 10px;
	background-color: #F3F3F3;
	padding: 7px;
}